.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  box-shadow: 0 0 12px #717171;
  border-radius: 12px;
  background-color: #fff;
  transition: transform .3s;
  padding: 40px 24px;
  position: fixed;
  width: 40%;
  min-height: 50%;
  min-height: 150px;
  z-index: 4;
}

.box {
  font-size: 18px;
  display: flex;
  padding: 24px;
  gap: 12px;
  & img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}

.name {
  font-weight: 700;
  font-size: 24px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 40px;
}

.extra {
  padding: 0 24px;
}

.list {
  padding: 10px 24px;
}

.bt {
  display: block;
  padding: 12px 32px;
  margin-left: auto;
  border-radius: 12px;
  font-size: 24px;
  background-color: #ccc;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 12px;
  left: 20px;
}