@use "assets/styles/global" as *;

.bar {
  height: 100%;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: end;
  transition: height .3s;
}

.chaos {
  border: 4px solid $chaos;
  margin-top: auto;
}

.credits {
  border: 4px solid $credits;
  margin-top: auto;
}

.filling_chaos {
  border: 2px solid #fff;
  width: 100%;
  background-color: $chaos;
}

.filling_credits {
  border: 2px solid #fff;
  width: 100%;
  background-color: $credits;
}

.arr{
  width: 60px;
  height: 60px;
  background-color: #ccc;
  position: relative;
}

@keyframes pulseAnim {
  0% {
    box-shadow: 0 0 0  $chaos;
  }
  50% {
    box-shadow: 0 0 12px $chaos;
  }
  100% {
    box-shadow: 0 0 0  $chaos;
  }
}

@keyframes pulseAnim2 {
  0% {
    box-shadow: 0 0 0  $credits;
  }
  50% {
    box-shadow: 0 0 12px $credits;
  }
  100% {
    box-shadow: 0 0 0  $credits;
  }
}

.pulseChs1 {
  animation: pulseAnim .8s ease-in-out infinite;
}

.pulseChs2 {
  animation: pulseAnim .4s ease-in-out infinite;
}

.pulseChs3 {
  animation: pulseAnim .2s ease-in-out infinite;
}

.pulseCred1 {
  animation: pulseAnim2 .8s ease-in-out infinite;
}

.pulseCred2 {
  animation: pulseAnim2 .4s ease-in-out infinite;
}

.pulseCred3 {
  animation: pulseAnim2 .2s ease-in-out infinite;
}