.title {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
}

.logo_box {
  width: 50%;
  height: 80px;
  position: relative;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.left {
  width: 25%;
  text-shadow: 0 2px 5px #726f6f;
  color: #0040ff;
  font-size: 24px;
  font-weight: 900;
}

.right {
  width: 25%;
  gap: 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-shadow: 0 2px 5px #726f6f;
  color: #ff23a3;
  font-size: 24px;
  font-weight: 900;
}