.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 10px 0;

  h1 {
    color: #ccc;
    letter-spacing: 6px;
    border-bottom: 2px solid #ccc;
  }
}

.left {
  text-shadow: 0 2px 5px #726f6f;
  color: #0040ff;
  font-size: 24px;
  font-weight: 900;
}

.right {
  gap: 20px;
  align-items: center;
  display: flex;
  text-shadow: 0 2px 5px #726f6f;
  color: #ff23a3;
  font-size: 24px;
  font-weight: 900;
}