.chaos {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header {
  margin-bottom: 10px;
}

.left {
  height: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
}