.page {
  width: 70%;
  border: 2px solid black;
  padding: 0 40px;
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    width: 6px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    border-radius: 4px;
    position: relative;
  }

  position: relative;
  border-radius: 12px;
}

.load_button {
  border: 6px solid #0040ff;
  border-radius: 24px;
  background-color: #fff;
  color: #0040ff;
  font-size: 26px;
  padding: 12px 30px;
  cursor: pointer;
}

.actions {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 10px 0;
  // transform: translateY(22px);
  left: 0;
  display: flex;
  justify-content: center;
}