@use "assets/styles/global" as *;

.post {
  background-color: #d8d7d7;
  border-radius: 16px;
  padding: 16px;
  margin: 24px 0;
  border: 4px solid transparent;
  position: relative;
  overflow-x: hidden;
}

.username {
  font-size: 24px;
  font-weight: 700;
}

.pic {
  width: 50px;
  border-radius: 20px;
}

.tags {
  display: inline-block;
  color: #6279eb;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.character {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.text {
  padding: 10px 0;
  font-size: 16px;
}

.reposted {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: auto;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: #b6b6b7;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  align-self: center;
  
  & img {
    display: block;
    margin-right: 4px;
  }
}

@keyframes pulseAnim {
  0% {
    box-shadow: 0 0 0  #000;
  }
  50% {
    box-shadow: 0 0 14px #000;
  }
  100% {
    box-shadow: 0 0 0  #000;
  }
}

.pulseCred1 {
  animation: pulseAnim .8s ease-in-out infinite;
}

.pulseCred2 {
  animation: pulseAnim .4s ease-in-out infinite;
}

.pulseCred3 {
  animation: pulseAnim .2s ease-in-out infinite;
}

.active {
  border: 4px solid #0040ff;
}