@use "assets/styles/global" as *;

.post {
  background-color: #d8d7d7;
  border-radius: 16px;
  padding: 16px;
  margin: 24px 0;
  border: 4px solid transparent;
  position: relative;
  overflow-x: hidden;
}

.username {
  font-size: 28px;
  font-weight: 700;
}

.pic {
  width: 50px;
  border-radius: 20px;
}

.tags {
  display: inline-block;
  color: rgb(44, 178, 255);
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.character {
  display: flex;
  gap: 10px;
}

.text {
  padding: 10px 0;
}

.reposted {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: auto;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: rgb(182, 182, 183);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  align-self: center;
  
  & img {
    display: block;
    margin-right: 4px;
  }
}