*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.app {
  display: flex;
  align-items: center;
  height: 100dvh;
  background-image: url("assets/images/cringr_bg_comp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen {
  padding: 20px;
  width: 1200px;
  height: 94%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
}

body {
  font-family: "Lato", sans-serif;
}