.box {
  position: absolute;
  top: 12px;
  right: 8px;
  overflow: hidden;
  padding: 0 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .4s, opacity .7s;
  width: 30%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 84, 16);
}

.visible {
  opacity: 1;
  backface-visibility: hidden;
  transform: translateX(0);
}